@import 'bootstrap/dist/css/bootstrap';


#pa {
  display: inline;
  margin: 0;
  padding: 0;
  width: 100px;
}


li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
  } 
  

#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  } 
  
 /* li {
    display: inline;
  } */

 /* ul.navbar-nav {
    display: inline;
  } */




  
   